/* RESET */
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  background-color: #2f3030;
}

.container {
  display: flex;
  align-items: center;
  width: 750px;
  overflow-x: hidden;
  justify-content: space-around;
}
.logo {
}
.logo img {
  width: 250px;
}

.menu {
}

nav {
}
.menu-mobile {
  display: none;

  width: 80px;
  height: 80px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.mm-line {
  height: 4px;
  background: red;
}
nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 28px;
  font-weight: bold;

  margin-left: 5px;
}

nav a:hover {
  background-color: coral;
  box-shadow: 0 0 15px coral;
}
/* BANNER */
#banner {
  background-image: url(../img/jiraia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 10.4rem);
  display: flex;
  align-items: center;
  padding: 1.6rem;
}

#banner em {
  font-size: 4.8rem;
  display: block;
  padding-left: 3rem;
  color: white;
  text-shadow: 2px 2px 3px black;
}

@media (max-width: 900px) {
  #banner em {
    font-size: 3.2rem;
  }
}

@media (max-width: 600px) {
  #banner em {
    font-size: 2.4rem;
  }
}

/* DETAILS */
#geral {
  background-image: url(../img/konoha.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 1.6rem;
}

.widget {
  background-color: burlywood;
  max-width: 73rem;
  margin: 0 auto;
}

.widget + .widget {
  margin-top: 1.6rem;
}

.widget-title {
  background-color: #f56e5a;
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px black;
  text-align: center;
}

.widget-body {
  padding: 1rem;
}

.widget-image {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

.widget-image img {
  width: 30rem;
  height: 20rem;
}

.widget-image figure {
  border: 3px solid #555;
  background-color: #555;
}

.widget-image figcaption {
  padding: 0.5rem;
  background-color: black;
  color: white;
  font-weight: bold;
}

.biography {
  font-weight: bold;
  line-height: 1.5;
}

.biography p + p {
  margin-top: 2rem;
}

@media (max-width: 600px) {
  .biography {
    font-size: 1.4rem;
  }
}

.biography span {
  text-decoration: underline;
  color: greenyellow;
  text-shadow: 2px 2px 2px black;
}

/* FOOTER */
footer {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  background-color: #2f3030;
  height: 130px;
  flex-direction: column;
}

.container-footer {
  display: flex;
  justify-content: center;
  width: 730px;
  overflow-x: hidden;
}

.footer-area {
  display: flex;
}

.fonts {
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 3px black;
  text-align: center;
}

.fonts a {
  text-decoration: underline;
  color: white;
}

.fonts a:hover {
  text-shadow: 1px 1px 2px rgb(74, 172, 204);
}

.footer-copy {
  width: 100%;
  text-align: center;
  align-self: end;
  color: rgb(110, 110, 110);
  border-top: 1px solid rgb(110, 110, 110);
  padding: 5px;
}

@media (max-width: 730px) {
  #banner {
    background-position: center;
  }
  header {
    height: 130px;
  }
  .menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .logo {
    padding-left: 20px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    margin: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: #3d4040;
  }
  nav ul li {
    padding-top: 20px;
  }
  nav ul li a {
    font-size: 40px;
    text-shadow: 2px 2px 3px black;
  }
}
